<mat-card class="settingsCard">
    
             <h2>  Add An Employee</h2>
             
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="username" placeholder="Username"  required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="password" type="password" placeholder="Password" required>
              </mat-form-field>              
              <mat-form-field>
                <mat-label>Account Level</mat-label>
                <select matNativeControl [(ngModel)]="level" required>             
                  <option value="employee">Employee</option>
                  <option value="manager">Manager</option>
                  <option value="Master">Master</option>    
                </select>
            </mat-form-field>
            <button mat-raised-button color="primary" id="addUserBtn" (click)="addEmployee(username, password, level)">Add Employee</button>
            <mat-divider [inset]="true"></mat-divider>
            <h2>Modify Existing Employee</h2>                
                <mat-list class="employees">
                    <mat-list-item *ngFor="let user of users; ">
                        <div mat-line><mat-icon>person</mat-icon>{{user.username}} 
                         <button mat-raised-button color="primary" (click)="user.show='true'" >Edit</button></div>
                         <div class="editUser" *ngIf="user.show == 'true'" >
                           <div mat-line>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput #username [(ngModel)]="user.username"  required>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput #password [(ngModel)]="user.password" type="password" required>
                              </mat-form-field>              
                              <mat-form-field>
                                <mat-label>Account Level</mat-label>
                                <select matNativeControl #level required [(ngModel)]="user.level">             
                                  <option value="employee">Employee</option>
                                  <option value="manager">Manager</option>
                                  <option value="master">Master</option>    
                                </select>
                            </mat-form-field>                       
                            <button mat-raised-button color="primary" id="addUserBtn" (click)="updateEmployee(user); user.show='false'">Save Changes</button>
                            <button mat-raised-button color="warn" id="deleteUserBtn" (click)="deleteEmployee(user); user.show='false'">Delete User</button>
                        </div>
                        </div>        
                        <mat-divider [inset]="true"></mat-divider>                
                      </mat-list-item>
                        
                </mat-list>
                   
       
 </mat-card>
