mat-form-field{
    margin:8px;
}

mat-card{
    margin:60px;
    padding: 40px;
}

mat-list-item{
    margin:16px;
}
#deleteUserBtn{
    background-color: rgb(151, 0, 0) !important;
    margin-left: 3px;
}