<mat-card class="settingsCard">
  <div class="usersTable">
  <h2> Add An Employee</h2>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" placeholder="Username" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" type="password" placeholder="Password" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Account Level</mat-label>
    <select matNativeControl [(ngModel)]="level" required>
      <option value="employee">Employee</option>
      <option value="manager">Manager</option>
      <option value="Master">Master</option>
    </select>
  </mat-form-field>
  <button mat-raised-button color="primary" id="addUserBtn" (click)="addEmployee(username, password, level)">Add
    Employee</button>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="usersTable">
    <h2>Employees</h2>
    <!-- <mat-list class="employees">
                    <mat-list-item *ngFor="let user of users; ">
                        <div mat-line><mat-icon>person</mat-icon>{{user.username}} 
                         <button mat-raised-button color="primary" (click)="user.show='true'" >Edit</button></div>
                         <div class="editUser" *ngIf="user.show == 'true'" >
                           <div mat-line>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput #username [(ngModel)]="user.username"  required>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput #password [(ngModel)]="user.password" type="password" required>
                              </mat-form-field>              
                              <mat-form-field>
                                <mat-label>Account Level</mat-label>
                                <select matNativeControl #level required [(ngModel)]="user.level">             
                                  <option value="employee">Employee</option>
                                  <option value="manager">Manager</option>
                                  <option value="master">Master</option>    
                                </select>
                            </mat-form-field>                       
                            <button mat-raised-button color="primary" id="addUserBtn" (click)="updateEmployee(user); user.show='false'">Save Changes</button>
                            <button mat-raised-button color="warn" id="deleteUserBtn" (click)="deleteEmployee(user); user.show='false'">Delete User</button>
                        </div>
                        </div>        
                        <mat-divider [inset]="true"></mat-divider>                
                      </mat-list-item>
                        
                </mat-list> -->
    <mat-form-field class="search">
      <input matInput [(ngModel)]="searchItem" (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
    <table [dataSource]="dataSource" mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row">{{row.username}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
        <td mat-cell *matCellDef="let row" type="password">{{row.password}}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Level</th>
        <td mat-cell *matCellDef="let row">{{row.level}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>

  </div>


</mat-card>
