<mat-tab-group class ='buySellTabs'>
    <mat-tab label="Buy">
        <div class='card-container'>
         <mat-card class='itemDetailsCard'>
            <mat-card-header>
                <mat-card-title>Item Details</mat-card-title>
            </mat-card-header> 
            <mat-card-content>
                <form class="buyItemForm">
                    <mat-form-field >
                        <mat-label>Item Name</mat-label>
                        <input matInput [(ngModel)]="name" name="name">
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>ISBN</mat-label>
                        <input matInput [(ngModel)]="isbn" name="isbn">
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Console</mat-label>
                        <input matInput [(ngModel)]="console" name="console">
                    </mat-form-field>
                    <p><button mat-raised-button (click)="addItemToCart(name, isbn, console)">Add item to order</button></p>
                    
                </form>
            </mat-card-content>
            </mat-card>
         <mat-card class='order-details-card'><mat-card-header>
            <mat-card-title>Order Details</mat-card-title>
        </mat-card-header> 
        <mat-card-content>
           <mat-list>
               <div mat-subheader>Sell Order Summary</div>               
               <mat-list-item>                   
                <div mat-line>Item 1</div>
                <div mat-line>item 1 price</div>
               </mat-list-item>
               <mat-list-item>
                <div mat-line>Item 2</div>
                <div mat-line>item 2 price</div>
               </mat-list-item>
               <h1>Order Total</h1>
               <h2>$0.00</h2>
               
           </mat-list>
        </mat-card-content></mat-card>
        </div>
     </mat-tab>
    <mat-tab label="Sell"> 
        <div class='card-container'>
            <mat-card class='item-details-card'>
               <mat-card-header>
                   <mat-card-title>Item Details</mat-card-title>
               </mat-card-header> 
               <mat-card-content>
                   ISBN, name, etc go here
               </mat-card-content>
               </mat-card>
            <mat-card class='order-details-card'><mat-card-header>
               <mat-card-title>Order Details</mat-card-title>
           </mat-card-header> 
           <mat-card-content>
            <mat-list>
                <div mat-subheader>Buy Order Summary</div>
                
                <mat-list-item>
                 <div mat-line>Item 1</div>
                 <div mat-line>item 1 price</div>
                </mat-list-item>
                <mat-list-item>
                 <div mat-line>Item 2</div>
                 <div mat-line>item 2 price</div>
                </mat-list-item>
                
            </mat-list>
           </mat-card-content></mat-card>
           </div>
     </mat-tab>
    
  </mat-tab-group>
  
