<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 80px;
    margin-top: -10px;
    margin-left:-10px;
    margin-right:-10px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    width:auto;
  }


  .filler {
    flex: 1 1 auto;
  }



  .toolbar img {
    margin: 0 16px;
  }

  
  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction:row;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .itemDetailsCard {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 400px;
    width: 400px;
    margin: 0 8px 16px;
    padding: 16px;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  /* .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  } */


  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }



  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .dashContainer {
    margin-top: 6px;
    width: 100%;
    height: 88vh;
    
  }

  .sidenavBtn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
  }

  .sidenav-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* height: 100%; */
    /* width:100%; */
    padding: 24px;
    align-items: top;
    /* justify-content: center;  */
    
  }

  .sidenav {
    background:white;
    padding: 20px;
  }

  .buySellTabs{
    display:flex;
    flex-direction: row;
    /* width: 100%;     */
    
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }





@media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

</style>



<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>
      <button mat-button class="sidenavBtn" (click)="drawer.toggle()">
        <mat-icon>dehaze</mat-icon>
      </button>
    </span>
    <span>Game World</span>
    <span class="filler"></span>
    <span>
      <form>
        <mat-form-field class="search-bar"><input matInput placeholder="search" (keydown.enter)="sendSearch($event)">
        </mat-form-field>
        <mat-icon>search</mat-icon>
      </form>
    </span>
    <span class="filler"></span>
    <span>
      <mat-icon>person</mat-icon>&nbsp; {{username}} &nbsp;
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </span>
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="dashContainer" autosize >
  <mat-drawer #drawer class="sidenav" mode="side">
      <mat-nav-list #sidenav>
        <a mat-list-item [routerLink]="'/buy-sell'"> Buy/Sell </a>
        <a mat-list-item [routerLink]="'/inventory'"> Inventory </a>
        <a mat-list-item [routerLink]="'/data'"> Data </a>
        <a mat-list-item [routerLink]="'/price-charting'"> Price Charting </a>
        <a mat-list-item (click)="drawer.toggle()">Close</a>
      </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <main>
      <div>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
    </main> 
    
    <!--Components will be able to go here in the content area based upon which sidebar is clicked-->
  </div>

</mat-drawer-container>

<!--Need to be it's own page-->
<!-- <main>
  <div>
    <mat-card class="card">

      <a><button routerLink="/login">Login</button></a>

    </mat-card>
  </div> -->
 