<div class="chartsCardContainer">
    
<mat-card  class="chartsCard">
    <mat-card-content>
    <canvas class="chart" id="chart1" width="300" height="300"></canvas>    
    </mat-card-content>    
</mat-card>   
<mat-card  class="chartsCard">
    <mat-card-content>
    <canvas class="chart" id="chart2" width="300" height="300"></canvas>        
    </mat-card-content>    
</mat-card>
<mat-card  class="chartsCard">
    <mat-card-content>
    <canvas class="chart" id="chart3" width="300" height="300"></canvas>        
    </mat-card-content>    
</mat-card>
        
    
</div>
