<div class="chartsCardContainer">
    
<mat-card  class="chartsCard">
    <mat-card-content>
    <canvas class="chart" id="chart1" width="300" height="300"></canvas>
    <button mat-raised-button color="primary" id='chart1btn1'>button</button><button mat-raised-button color="primary" id='chart1btn2'>button</button>     
    </mat-card-content>    
</mat-card>   
<mat-card  class="chartsCard">
    <mat-card-content>
    <canvas class="chart" id="chart2" width="300" height="300"></canvas>
    <button mat-raised-button color="primary" id='chart2btn1'>button</button> <button mat-raised-button color="primary" id='chart2btn2'>button</button>         
    </mat-card-content>    
</mat-card>
<mat-card  class="chartsCard">
    <mat-card-content>
    <canvas class="chart" id="chart3" width="300" height="300"></canvas>
    <button mat-raised-button color="primary" id='chart3btn1'>button</button> <button mat-raised-button color="primary" id='chart3btn2'>button</button>        
    </mat-card-content>    
</mat-card>
        
    
</div>
